
* {
    margin: 0;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--navy);
    background-color: rgb(239, 246, 238);
  
}

:root {
    --pink: rgb(255, 106, 202);
    --royal-blue: rgb(29, 78, 187);
    --snow: rgb(255, 251, 249);
    --switch-circle-bg: rgb(237, 231, 227);
    --green: rgb(96, 199, 122);
    --navy: rgb(5, 47, 95);
    --sun-background: rgb(250, 208, 80);
    --icon-sun: rgb(199, 140, 30);
}

body {
    width: 100%;
    height: 100%;
}


nav {
    display: inline-block;
    margin: 0;
    padding: 2% 0 0 0;
    height: 100%;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    transition: var(--default-transition);
}

#theme-switcher {
    flex-direction: row;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    cursor: pointer;
    width: 30%;
    height: auto;
    padding: 0.66rem;  
    position: absolute;
    transition: var(--default-transition);
    z-index: 4;
    top: 70%;
   
  
}

#switcher-nav {
    display: inline;
    position: absolute;
    width: 30%;
    height: auto;
    left: 80%;
    top: 2%;
    text-align: center;

}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 38.5%;
    height: 85%;
    background-color: var(--sun-background);
    border-radius: 50%;
    z-index: 0;
    transition: var(--default-transition);
    transform: translateX(var(--switch-circle-pos));

}

#theme-switcher svg{
    z-index: 1;
    transition: var(--default-transition);
}

#icon-sun {
    stroke: var(--icon-sun);
    background-color: var(--sb);
    border-radius: 50%;
    margin-left: 4%;
    transition: var(--default-transition);
    fill: none;
}


#icon-moon{
    background-color: var(--mb) ; 
    border-radius: 50px;
    stroke: var(--moon-color);
    margin-left: 7%;
    transform: var(--default-transition);
    fill: none;

}

a {
    all: unset;
}

ol {
    all: unset;
    display: block;
   margin-left: 80%
    
  
}

ol * {
    display: inline;
    flex-wrap: nowrap;
    margin-bottom: 80%;
    margin-top: 10%;
}

li {
    margin: clamp(5%, 1.5vw, 10%);
    text-decoration: underline;
    background-color: var(--pink);
    
    

}

h1{
    display: inline;
    margin-top: 1%;
    background-color: var(--pink);

}

h1 a {
    all: unset;
    font-size: 3.3vw;
    right: 80%;
    bottom: 30%;
    position: absolute;
    width: 100%;
    height: auto;
    
}


header {
    text-align: center;
    margin-top: 5%;
}
 .container{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;

 }

.style-book-image {
    margin: 5% auto;
    height: auto;
    width: 30%;
}
