
* {
    margin: 0;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--navy);
    background-color: var(--snow);
  
}

:root {
    --pink: rgb(255, 106, 202);
    --royal-blue: rgb(29, 78, 187);
    --snow: rgb(255, 251, 249);
    --switch-circle-bg: rgb(237, 231, 227);
    --green: rgb(96, 199, 122);
    --navy: rgb(5, 47, 95);
    --sun-background: rgb(250, 208, 80);
    --icon-sun: rgb(199, 140, 30);

    --dark-pink: rgb(229, 93, 182);
    --dark-green: rgb(51, 141, 74);

}
body {
    width: 100%;
}

nav {
    display: flex;
    margin: 0;
    padding: 2vw 0;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
}

#theme-switcher-container {
    background-color: inherit;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    width: 7%;
   margin-left: 85%;
   overflow: hidden;

}

#theme-switcher {
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.33rem;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-right: 5%;
    padding: 0.66rem;  
    transform: translate(10%, 10%);
    position: relative;
    
}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;
    background-color:  var(--sun-background);
    border-radius: 50%;
    z-index: 0;
    left: 6%;

}

#theme-switcher svg{
    z-index: 1;
}

#icon-sun {
    stroke: var(--icon-sun);
    background-color: var(--sun-background);
    border-radius: 50%;
    margin-left: 4%;
    
    
}

#theme-switcher:hover::before {
   border: solid 1px rgba(210, 171, 54, 0.48);
}


#icon-moon{
    background-color: inherit; 
 

}

a {
    all: unset;
}


ol {
    all: unset;
    display: block;
   margin-left: 80%
    
  
}

ol * {
    display: inline;
    
    flex-wrap: nowrap;
    margin-bottom: 80%;
    margin-top: 10%;
}

li {
    margin: clamp(5%, 1.5vw, 10%);
    text-decoration: underline;
    background-color: var(--pink);
    
    

}

nav h1{
    display: inline;
    margin-left: 0%;
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 1%;
    background-color: var(--pink);
    width: 200px;
    height: 40px;
    

}

h1 a {
    all: unset;
    justify-content: flex-start;
}



.welcome {
    display: grid;
    text-align: center;
    margin: 10%;
    
}

@media (min-width: 720px) and (max-width: 1400px) {
    ol  {
        margin-left: 70%;
        padding: 0;
       
    }
}

@media (min-width: 600px) and (max-width: 700px){
    ol {
        margin-left: 65%;
    }
}

@media (min-width: 10px) and (max-width: 710px) {
    ol { 
        margin-left: 60%;
        
}
}

@media (min-width: 10px) and (max-width: 600px) {
    li {
        font-size: 0.75rem;
        display: inline;
    }
}
@media (min-width: 10px) and (max-width: 550px) {
   
    h1 a{
        font-size: 70%;
    }
}

@media (min-width: 250px) and (max-width: 520px) {
    
    li {
        margin-left: 2px;
    }
    ol {
        margin-left: 50%;
    }
}


header {
    text-align: center;
    margin-top: 5%;
}
 .container{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;

 }

.style-book-image {
    margin: 5% auto;
    height: auto;
    width: 30%;
}
