
* {
    margin: 0;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--navy);
    background-color: rgb(239, 246, 238);
  
}

:root {
    --pink: rgb(255, 106, 202);
    --royal-blue: rgb(29, 78, 187);
    --snow: rgb(255, 251, 249);
    --switch-circle-bg: rgb(237, 231, 227);
    --green: rgb(96, 199, 122);
    --navy: rgb(5, 47, 95);
    --sun-background: rgb(250, 208, 80);
    --icon-sun: rgb(199, 140, 30);
}

body {
    width: 100%;
    height: 100%;
}


nav {
    display: inline-block;
    margin: 0;
    padding: 2% 0 0 0;
    height: 100%;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    transition: var(--default-transition);
}

#theme-switcher {
    flex-direction: row;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.3rem;
    cursor: pointer;
    width: 30%;
    height: auto;
    padding: 0.66rem;  
    position: absolute;
    transition: var(--default-transition);
    z-index: 4;
    top: 70%;
   
  
}

#switcher-nav {
    display: inline;
    position: absolute;
    width: 30%;
    height: auto;
    left: 80%;
    top: 2%;
    text-align: center;

}

#theme-switcher::before {
    content: '';
    position: absolute;
    width: 38.5%;
    height: 85%;
    background-color: var(--sun-background);
    border-radius: 50%;
    z-index: 0;
    transition: var(--default-transition);
    transform: translateX(var(--switch-circle-pos));

}

#theme-switcher svg{
    z-index: 1;
    transition: var(--default-transition);
}

#icon-sun {
    stroke: var(--icon-sun);
    background-color: var(--sb);
    border-radius: 50%;
    margin-left: 4%;
    transition: var(--default-transition);
    fill: none;
}


#icon-moon{
    background-color: var(--mb) ; 
    border-radius: 50px;
    stroke: var(--moon-color);
    margin-left: 7%;
    transform: var(--default-transition);
    fill: none;

}

a {
    all: unset;
}

ol {
    all: unset;
    display: block;
   margin-left: 80%
    
  
}

ol * {
    display: inline;
    flex-wrap: nowrap;
    margin-bottom: 80%;
    margin-top: 10%;
}

li {
    margin: clamp(5%, 1.5vw, 10%);
    text-decoration: underline;
    background-color: var(--pink);
    
    

}

h1{
    display: inline;
    margin-top: 1%;
    background-color: var(--pink);

}

h1 a {
    all: unset;
    font-size: 3.3vw;
    right: 80%;
    bottom: 30%;
    position: absolute;
    width: 100%;
    height: auto;
    
}



.welcome {
    display: grid;
    text-align: center;
    margin: 10%;
    
}

@media (min-width: 1115px) and (max-width: 3500px) {
    .container {
        width: 90%;
    }
    #grid-template {
        width: auto;
        grid: repeat(3, 400px) / repeat(3, 400px);
    }
    .all-books {
       width: 60%;
       height: 70%;
       
    }
}


@media (min-width: 720px) and (max-width: 1400px) {
    ol  {
        margin-left: 70%;
        padding: 0;
    }
   
}

@media (min-width: 900px) and (max-width: 1160px) {
    .container {
       width: 1000px;
    }
    #grid-template {
        grid: repeat(3, 300px) / repeat(3, 300px);
    }
    .all-books {
       width: 60%;
       height: 77%;
       
    }
}

@media (min-width: 715px) and (max-width: 900px){
    ol {
        margin-left: 65%;
    }
    .container {
        max-width: 1000px;
    }
    #grid-template {
        grid: repeat(3, 250px) / repeat(3, 250px);
    }
    .all-books {
       width: 55%;
       height: 65%;
       
    }
}

@media (min-width: 600px) and (max-width: 715px){
    .container {
        max-width: 715px;
    }
    #grid-template {
        grid: repeat(3, 215px) / repeat(3, 215px);
    }
    .all-books {
       width: 55%;
       height: 65%;
       
    }

}


@media (min-width: 520px) and (max-width: 700px) {

    ol { 
        margin-left: 60%;
}
.container {
    width: 600px;
    margin: auto;
}
#grid-template {
    grid: repeat(3, 210px) / repeat(3, 210px);
   
    
}
.all-books {
   width: 50%;
   height: 60%;
   
}
}

@media (min-width: 10px) and (max-width: 550px) {
    li {
        font-size: 0.75rem;
        display: inline;
    }
    h1 a{
        font-size: 70%;
        top: 50%;
    }
}

@media (min-width: 350px) and (max-width: 520px) {

.container {
    max-width: 350px;
    margin: auto;
}
#grid-template {
    grid: repeat(3, 210px) / repeat(2, 150px);

    
}
.all-books {
   width: 70%;
   height: 65%;
   
}
}

@media (min-width: 250px) and (max-width: 520px) {
    
    li {
        margin-left: 2px;
    }
    ol {
        margin-left: 50%;
    }
}


@media (min-width: 250px) and (max-width: 350px) {
.container {
    max-width: 350px;
    margin: auto;
}
#grid-template {
    grid: repeat(3, 210px) / repeat(2, 150px); 
}
.all-books {
   width: 53%;
   height: 60%;
   
}
}



header{
    text-align: center;
    margin: 3%;
}

.container {
    display: flex;
    height: auto;
    background-color: black;
    overflow: hidden;
    width: auto;
   
    
}

#grid-template {
    display: grid;
    flex-direction: row;
    justify-content: center;
    justify-items: end;
    grid-auto-rows: 500px;
    grid-auto-columns: 550px;
    grid-auto-flow: row;
    width: 100%;
    height: auto;
    overflow: hidden;
    
   
    
}

.all-books {
    display: grid;
    min-width: 25%;
    border:2px solid rgb(240, 233, 233);
    margin: 0%;
    display: inline-block;
    overflow: hidden; 
     justify-content: center;
     justify-items: center;
}

a {
    text-align: center;
}

