
* {
    margin: 0;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--font-color);
    transition: var(--default-transition);
  
}

:root[data-theme="light"] {
    --pink:rgb(255, 106, 202) ;
    --royal-blue: rgb(29, 78, 187);
    --snow: rgb(255, 251, 249);
    --background: var(--snow);
    --switch-circle-bg: rgb(237, 231, 227);
    --green: rgb(96, 199, 122);
    --navy: rgb(5, 47, 95);
    --sun-background: rgb(250, 208, 80);
    --sb: var(--sun-background);
    --icon-sun: rgb(199, 140, 30);
    --font-color: var(--navy);
    --switch-circle-pos: -0.2vw;
    --moon-color: var(--navy);
    --mb: var(--switch-circle-bg);

    --eye: black;

}

:root[data-theme="dark"] {
    --pink: rgb(182, 75, 144);
    --green: rgb(51, 141, 74);
    --navy: rgb(5, 47, 95);
    --royal-blue: rgb(29, 78, 187);
    --sun-background: var(--royal-blue);
    --sb: var(--switch-circle-bg);
    --background: var(--navy);
    --font-color: var(--snow);
    --snow: rgb(255, 251, 249);
    --icon-sun: rgb(185, 174, 151);
    --moon-color: var(--snow);
    --mb: var(--royal-blue);
    --switch-circle-bg: rgb(141, 57, 111);

    --switch-circle-pos: 119%;

    --eye: var(--navy);

   

}

:root {
    --default-border-radius: 8px;
    --default-transition: color 0.3s ease-in, transform 0.3s ease-in, background-color 0.3s ease-in-out, border-color 0.3s ease-in;
}

#all{
    background-color: var(--pink);
}

nav {
    display: inline-block;
    margin: 0;
    padding: 2% 0 0 0;
    height: 100%;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    transition: var(--default-transition);
}
a {
    all: unset;
}

@media only screen and (min-width: 1500px) and (max-width: 3000px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 23%;
right: 2%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 19%;
}


h1 a {
all: unset;
font-size: 2.5vw;
font-weight: 100;
}

}

@media only screen and (min-width: 1200px ) and (max-width: 1500px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 16%;
right: 2%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 12%;
font-weight: 500;
}


h1 a {
all: unset;
font-size: 2.5vw;

}

}

@media only screen and (min-width: 900px) and (max-width: 1200px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 14%;
right: 2%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 12%;
}


h1 a {
all: unset;
font-size: 2.5vw;
font-weight: 100;
}

}
@media only screen and (min-width: 800px) and (max-width: 900px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 12%;
right: 1%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 50%;

}

h1{
display: inline;
margin-left: 5%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 7.5%;
}


h1 a {
all: unset;
font-size: 2.5vw;
font-weight: 100;
}

}
@media only screen and (min-width: 650px) and (max-width: 800px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 10%;
right: 1%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 50%;

}

h1{
display: inline;
margin-left: 5%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 7.5%;
}


h1 a {
all: unset;
font-size: 2.5vw;
font-weight: 100;
}

}


@media only screen and (min-width: 550px) and (max-width: 650px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 8%;
right: 2%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.75vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 6%;
}


h1 a {
all: unset;
font-size: 3.5vw;
font-weight: 100;
}

}




@media only screen and (min-width: 500px) and (max-width: 550px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 7%;
right: 2%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: clamp(5%, 1.5vw, 10%);
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 7%;
}


h1 a {
all: unset;
font-size: 2.5vw;
font-weight: 100;
}

}

@media only screen and (min-width: 420px) and (max-width: 500px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 6%;
right: 5%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: 0 0 0 1%;
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 5%;
}


h1 a {
all: unset;
font-weight: 100;
}

}

@media only screen and (min-width: 370px ) and (max-width: 420px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 4%;
right: 7%;
width: 35%;
height: auto;

}

li {
display: inline;
margin: 0 0 0 1%;
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 5%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 4%;
}


h1 a {
all: unset;
font-weight: 100;
}

}

@media only screen and (min-width: 300px) and (max-width: 370px){
  ol {
all: unset;
display: block;
position: absolute; 
top: 3%;
right: 11%;
width: 40%;
height: auto;

}

li {
display: inline;
margin: 0 0 0 1%;
text-decoration: underline;
background-color: var(--pink);
font-size: 1.5vw;
position: relative;
top: 30%;

}

h1{
display: inline;
margin-left: 7%;
margin-top: 1%;
background-color: var(--pink);
width: auto;;
height: auto;
position: absolute;
top: 2%;
}


h1 a {
all: unset;
font-weight: 100;
}

}


.inline{
  display: flex;
  height: 100%;
  width: 100%;
  left: 0%;
  top: 5%;
  background-color: var(--pink);
  margin-bottom: 10%;
}
    #eye-container {
    width: 25%;
    height: 5%;
    margin: 1% 0;
    background-color: var(--pink);
    display: inline;
    position: absolute;
    top: 2%;
    bottom: 90%;
    right: 65%;
    }

div .clip-circle .aligner {
  position: absolute;
    width: 70%;
    height: 70%;
}

.aligner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
    margin-right: 70%;
    transition: var(--default-transition);
   
 
}
.clip-circle {
    height: 5vw;
    width: 5vw;
    border-radius: 90% 5px;
    transform: rotate(45deg);
    overflow: hidden;
    margin: 0;
    border: 1px solid var(--eye);
    background-color: var(--pink);
    animation: eyelid 5s infinite;
    animation-delay: 7s;
    transition: background-color 0.3s ease-in-out;
   


}


.eye {
    height: 69%;
    width: 59%;
    border-radius: 100%;
    position: relative;
    background-color: var(--pink);
    border: 1px solid var(--eye); 
 
}

.iris {
    height: 50%;
    width: 50%;
    border-radius: 100%;
    position: absolute;
    background-color: var(--eye);
    border: 1px solid var(--eye);
    margin: 25% 5% 50% 20%;
    animation: move 5s ease-out infinite;
   
}

#lid {

    animation: blink 5s infinite;
    animation-delay: 7s;
}

@media only screen and (min-width: 100px) and (max-width: 600px){
  #eye-container{
    display: none;
  }
}
  

  @keyframes move {
    0% {
      transform: none;
    }
    20% {
      transform: translateX(-5px) translateY(5px) scale(0.95);
    }
    25%, 44% {
      transform: translateX(5px) translateY(5px);
    }
    50%, 60% {
      transform: translateX(5px) translateY(-5px) scale(0.95);
    }
    66%, 95% {
      transform: translateX(-5px) translateY(-5px);
    }
    99%, 100% {
        animation-timing-function: ease-in;
    }
  }
  
  @keyframes blink {

    90% {
      transform: none;
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateX(20px) translateY(20px) scaleY(0)
    }
    100% {
      animation-timing-function: ease-out;
    }
  }

  @keyframes eyelid {

        90% {
          animation-timing-function: ease-in;
          transform: rotate(45deg);
        }
        93% {
          transform:  translateY(15px) scaleY(0) ;

          
        }
        100% {
          animation-timing-function: none;
         
        }
      }

      @keyframes background {
        from { 
            background-color: var(--sb);

        }
        to {
            background-color: var(--mb);
        }
      }
  







@media (min-width: 720px) and (max-width: 2400px) {
    ol  {
        margin-left: 65%;
        padding: 0;
       
    }
}

@media (min-width: 600px) and (max-width: 700px){
    ol {
        margin-left: 65%;
    }
}

@media (min-width: 10px) and (max-width: 710px) {
    ol { 
        margin-left: 60%;
        
}
}

@media (min-width: 10px) and (max-width: 600px) {
    li {
        font-size: 0.75rem;
        display: inline;
    
    }
}
