
* {
    margin: 0;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background);
    color: var(--font-color);
    transition: var(--default-transition);
    box-sizing: border-box;
  
}

:root[data-theme="light"] {
    --pink: rgb(255, 106, 202);
    --royal-blue: rgb(29, 78, 187);
    --snow: rgb(255, 251, 249);
    --background: var(--snow);
    --switch-circle-bg: rgb(237, 231, 227);
    --green: rgb(96, 199, 122);
    --navy: rgb(5, 47, 95);
    --sun-background: rgb(250, 208, 80);
    --sb: var(--sun-background);
    --icon-sun: rgb(199, 140, 30);
    --font-color: var(--navy);
    --switch-circle-pos: 5%;
    --moon-color: var(--navy);
    --mb: var(--switch-circle-bg);

    --eye: black;

}

:root[data-theme="dark"] {
    --pink: rgb(182, 75, 144);
    --green: rgb(51, 141, 74);
    --navy: rgb(5, 47, 95);
    --royal-blue: rgb(29, 78, 187);
    --sun-background: var(--royal-blue);
    --sb: var(--switch-circle-bg);
    --background: var(--navy);
    --font-color: var(--snow);
    --snow: rgb(255, 251, 249);
    --icon-sun: rgb(185, 174, 151);
    --moon-color: var(--snow);
    --mb: var(--royal-blue);
    --switch-circle-bg: rgb(141, 57, 111);
    --eye: var(--navy);
    --switch-circle-pos: 10%;
}

:root {
    --default-border-radius: 8px;
    --default-transition: color 0.3s ease-in, transform 0.3s ease-in, background-color 0.3s ease-in-out, border-color 0.3s ease-in;
}




nav {
    display: inline-block;
    margin: 0;
    padding: 2vw 0;
    flex-direction: column;
    background-color: var(--pink);
    width: 100%;
    transition: var(--default-transition);
    border-radius: 15px;
}



#theme-switcher {
    flex-direction: row;
    background-color: var(--switch-circle-bg);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-items: left;
    gap: 12%;
    cursor: pointer;
    width: 30%;
    height: 200%;
    padding: 1% 3% 1% 3%;
    position: absolute;
    transition: var(--default-transition);
    z-index: 4;
    top: 70%;
    right: 30%;
    overflow: hidden;
   
  
}

#switcher-nav {
    display: inline;
    position: absolute;
    width: 30%;
    height: auto;
    left: 70%;
    top: 2%;
    text-align: center;
  

}


#theme-switcher::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 89%;
    background-color: var(--sun-background);
    border-radius: 50%;
    z-index: 0;
    transition: var(--default-transition);
    transform: translateX(var(--switch-circle-pos));
    left: 7%;

}


#theme-switcher svg{
    z-index: 1;
    transition: var(--default-transition);
}

#icon-sun {
    stroke: var(--icon-sun);
    background-color: var(--sb);
    border-radius: 50%;
    transition: var(--default-transition);
    fill: none;
    position: relative;
    right: 3%;

}


#icon-moon{
    position: relative;
    background-color: var(--mb) ; 
    border-radius: 50px;
    stroke: var(--moon-color);
    left: 5%;
    transform: var(--default-transition);
    fill: none;

}

@media only screen and (min-width: 100px) and (max-width: 600px){
    #theme-switcher {
        display: none;

    }

}

a {
    all: unset;
}


.welcome {
    display: grid;
    text-align: center;
    margin: 5%;
    
}

.homepage-books {
    display: block;
    text-align: center;
   
   
}

.wrap-feature-books {
    width: 17%;
    height: 50%; 
    display: inline-block;
}

.feature-book {
    height: 15vw;
    width: clamp(50px, 60%, 350px);
    margin: auto 5%;
}