html{
    box-sizing: border-box;
    background-image: url("homepage-background.png");
}

html, body, span {
    margin: 0;
    padding: 0;
    border: 0;
}

header{
    position: fixed;
    top: 0px;
    left: 28px;
    right: 28px;
    z-index: 11;
    height: 55px;
    display: block;
}

.main-navigation{

    padding: 1.625rem 0 1.5rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgba(245, 238, 230, .5);
    position: relative;
    
}

.title{
    display: inline-block;
    vertical-align: baseline;
}

#name {
    font-family: "Danfo", serif;
    font-size: 1.5rem;
}

#profession {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
}

span{
    display: inline-block;
    margin-left: 2rem;
}

ul{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

li {
    font-family: "Open Sans", sans-serif;
    list-style: none;
    vertical-align: baseline;
    display: inline-block;
    margin-left: 2rem;
  
}

main {
    display: block;
}

#main-wrap {
  overflow-x: hidden;  
}

.main-wrapper {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    align-items: flex-end;
    max-width: 100%;
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-wrap: wrap;
}

.main-wrapper .toptitle-element{
    position: relative;
    margin-bottom: -1vw;
    bottom: 20%;
}

div{
    display: block;
    unicode-bidi: isolate;
}

.main-wrapper .toptitle-element .creative {
    font-family: "Satisfy", cursive;
    font-size: 1.5rem;
    margin-bottom: 0;
    bottom: 20%;
}

.designer {
    display: flex;
    margin-top: 0;
    padding-top: 0;
}

.symbol div:after {
    content: "&";
    font-family: "Abril Fatface", serif;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.uppercase{
    text-transform: uppercase;
    font-family: "Open Sans",sans-serif;
    font-size: 5rem;
    margin-top: 0;
}

