* {
    background-color: rgb(235, 223, 195);
    text-align: center;
  
  }

  html {
    margin: 0 auto;
    overflow-x: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    width: 100%;
  }


#full {
    position:relative;
    display: inline;
    background-image: linear-gradient(rgba(235, 223, 195,.9), rgba(235, 223, 195,.9)),url("8331.jpg");
    background-size: cover;
    background-size: 100% 100%;
    line-height: 100%;
    z-index: 0;
    text-align: center;
    height: auto;
    display:block;
    position: absolute;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0;
    margin:0px;
    padding:0px;
}
div #home-header {
    font-family: "Hanuman", serif;
    text-align: center;
    color: rgb(21, 17, 41);
    font-size: 40px;
    margin-bottom: 40px;
    margin-top: 40px;
   width: auto;


}

span {
    display: inline-block;
    padding: 20px;
    font-family: "Sanchez", serif;
    border-bottom: solid rgb(139, 125, 209) 2px;
    z-index: 6;
    box-shadow:  3px 3px 3px 2px rgb(107, 104, 102);
    border-radius: 5%;
    
}

span:hover {
    border-bottom: none;

}

span:active{
    box-shadow: none;
}

a:hover {
    color: rgb(107, 104, 102);
}

a:active {
    color: rgb(21, 17, 41);
    box-shadow: none;
}

body {
    text-align: center;
}


.photo-cast {
    width: 1000px;
    height: 700px;
    border-radius: 20%;
    border: double 6px rgb(21, 17, 41);
    outline: solid 3px  rgb(21, 17, 41);
    padding: 2px;
    padding: 20px;
    margin-top: 5%;
    text-align: center;
    z-index:5;
    position:absolute;
    right:150px;
    left:360px;
    top: 150px;
    bottom: 50px;
    border-radius: 10px;

}

a {
    text-decoration: none;
    color: rgb(21, 17, 41);
    z-index:4;
    
    
}

body{
    font-family: "Sanchez", serif;
}

img {
    border-radius-t: 15%;
}

#lisa-photo {
    border-radius: 20%;
    border: double 4px black;
    outline: solid 3px black;
    padding: 3px;
}

 #lisa-header, .ariana-header {
    text-align: center;
    font-family: "Hanuman", serif;
}

.ariana-photo {
    border-radius: 20%;
    border: double 4px black;
    outline: solid 3px black;
    padding: 3px;
}

@media only screen and (max-width: 320px) {
    .photo-cast {
        width: 240px;
        text-align: center;
    }
}

